*{
	text-transform: uppercase;
}
#main{
	width: 100%;
	justify-content: center;
}

.card{
	width: 30%;
	background-color: #aaa;
	text-align: center;
	justify-content: space-around;
	margin: 0 auto 0 auto;
	border: 1px  solid red;
	border-radius: 30% 0;
	box-shadow: 6px 6px 6px 3px;
}
.card>img{
	border-radius: 50%;
	width: 50%;
	height: 50%;

}

img{
	background: red;
}
